
/* Home组件中的修改element样式 */
.home{
    .el-carousel__container{
        height: 314px;
    }
    .el-input__inner{
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 2px 11px 39px rgba(160, 159, 159, 0.3);
      border-radius:16px;
    }
}

.foodDetail{
  .text_box{
    .el-button{
      // margin:  auto;
      font-size: 18px;
      box-shadow: 1px 10px 39px rgba(160, 159, 159, 0.3);
    }
  }
}

.mall{
  .el-input{
    width: 75%; 
  }
  .el-input__inner{
    display: inline-block;

    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 11px 39px rgba(160, 159, 159, 0.3);
    border-radius:16px;
  }

  .el-card{
    margin: 20px 0;
    border-radius: 10px 40px;
  }
}


